streamlit==1.32.0
numpy<2
packaging<24
langchain==0.2.17
langchain-community==0.2.19
langchain-openai==0.1.25
langchain-pinecone==0.1.2
langchain-google-genai==1.0.8
pinecone-client==4.1.2
sentence-transformers
pypdf
rank_bm25
pyyaml
python-dotenv
pythainlp
PyMuPDF
pdf2image
pymupdf4llm
docling
google-generativeai
Pillow